body {
    background-color: lightblue;
    text-align: center;
    font-family: "Lucida Console", Monaco, monospace;
    font-size: 15px;
    letter-spacing: 0px;
    word-spacing: 2px;
    color: #000000;
    font-weight: 400;
  }

h1{
    color: red;
}

ul{
  margin: auto;
  padding: 10px;
}

button{
  color: blue;
  text-shadow: 1px 1px 1px rgba(28,110,164,0.5);  
  border-bottom: 2px solid #D64444;
  border-radius: 50px;
  margin: 2px;
}
button:hover{
  background:rgba(28,110,164,0.5);
}
button:active{
  background:rgb(255, 0, 0);
}

div.workout-card{
  margin: 25px;
  border: 2px outset #D64444;
  outline: 2px inset #D64444;
  outline-offset: 1px;
}

div.exercises{
  border-top: 5px solid;
  color: black;
}

div.exercise-info{
  border-bottom: 3px solid;
  color: black;
}
